
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

img {
    width: 100%;
    height: auto;
}


.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}


#nav-bar {
    width: 100%;
    height: 100%;
    max-width: 250px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
}


.logo-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.8rem 1rem 1rem 1rem;
}

.logo-bar .logo {
    flex: 2;
    margin-left: 0.7rem;
}

.logo-bar .logo img {
    width: auto;
    height: 25.12px;
}   

.logo-bar #btn-menu {
    cursor: pointer;
    border: none;
    background: none;
    rotate: 90deg;
}


.nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    width: 100%;
    height: 50.92px;
    padding-left: 0.7rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.nav-list a:hover, .nav-list .selected {
    background-color: var(--light-grey);
}

.nav-list img, .logo-bar img {
    width: 24px;
    height: auto;
}


.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    padding: 1rem;
}

.profile {
    flex: 2;
    display: flex;
    align-content: center;
}

.profile figure {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 12px;
}

.profile .description {
    font-size: 15px;
    padding: 0.5rem;
}

.profile .description p:last-child {
    font-size: 12px;
}


.logo-bar #btn-menu:hover, .logout a:hover {
    opacity: 0.6;
}


.closed {
    max-width: 78px !important;
}

.closed .logo, .closed a p , .closed .profile{
    display: none;
}

.closed #btn-menu {
    rotate: 0deg !important;
}


main {
    padding: 1.5rem;
}